Repository janw/tapedrive: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-no-print, requirements-up-to-date

python-no-print:
  name: check for print()
  description: A quick check for the `print()` built-in function
  entry: \bprint\(
  language: pygrep

requirements-up-to-date:
  name: check requirements.txt is up to date
  entry: make check_requirements
  language: system

Fix coverage reporting
  .gitlab-ci.yml
  setup.cfg
Due: none

Update coverage badge to use correct branch
  README.md
Due: none

Remove pytest default addopts
  setup.cfg
Due: none

Add cov-report argument on pytest ci job
  .gitlab-ci.yml
Due: none

Fix branch name on coveralls
  .gitlab-ci.yml
Due: none

Fix coverage calculation
  .gitlab-ci.yml
  README.md
  setup.cfg
Due: none

Remove duplicate logging config
  tapedrive/settings.py
Due: python-no-print

Replace duplicate .save methods with common one
  podcasts/models/common.py
  podcasts/models/episode.py
  podcasts/models/podcast.py
Due: python-no-print

Remove ununsed imports
  podcasts/models/podcast.py
Due: python-no-print

Update CI jobs, try out codeclimate coverage reporting
  .gitlab-ci.yml
Due: none

Write xml cov report
  .gitlab-ci.yml
Due: none

Bump bleach and django dependencies
  poetry.lock
Due: requirements-up-to-date

Update badges
  README.md
Due: none

Adopt isort for imports
  .pre-commit-config.yaml
  listeners/serializers.py
  podcasts/api/views.py
  podcasts/conf.py
  podcasts/models/episode.py
  podcasts/models/podcast.py
  podcasts/old_api.py
  podcasts/tasks.py
  podcasts/tests/test_models.py
  podcasts/utils/__init__.py
  podcasts/utils/filters.py
  podcasts/utils/parsers/feed_content.py
  podcasts/utils/sanitizers.py
  podcasts/validators.py
  podcasts/views.py
  setup.cfg
  tapedrive/urls.py
  tapedrive/wsgi.py
Due: python-no-print

Clean up dependencies
  frontend/package.json
  frontend/src/app.js
  frontend/src/components/EpisodeDetail.vue
  frontend/src/components/EpisodeDetailModal.vue
  frontend/src/components/EpisodeListItem.vue
  frontend/src/components/PodcastListItem.vue
  frontend/src/filters.js
  frontend/yarn.lock
Due: none

Last-ditch effort on failed auth refresh: redirect to Login
  frontend/src/api/index.js
Due: none

Add showBackdrop parameter on login route
  frontend/src/router/index.js
Due: none

Move full-page backdrop into separate vue component
  frontend/src/components/Backdrop.vue
  frontend/src/components/Login.vue
  frontend/src/components/Main.vue
Due: none

Move frontend packaging/config files
  package.json
  webpack.config.js
  yarn.lock
Due: none

Start recreating password reset flow
  frontend/src/components/ResetPassword.vue
  frontend/src/router/index.js
Due: none

Restore initial UI vision of Login screen
  frontend/src/components/Login.vue
Due: none

Replace yarn lock with package-lock
  package-lock.json
  yarn.lock
Due: none

Update frontend paths in docker build
  Dockerfile
Due: none

Remove dependency for copy-webpack-plugin
  frontend/src/template.html
  package.json
  webpack.config.js
Due: none

Make setting a password easier in development
  tapedrive/settings.py
Due: python-no-print

Update npm dependencies
  package-lock.json
  package.json
Due: none

Properly redirect to login on unauthorized
  frontend/src/router/index.js
Due: none

Fix import, re. isort
  podcasts/apps.py
Due: python-no-print

Add docker build workflow
  .github/workflows/docker.yaml
  Dockerfile
  README.md
Due: none

Fix python build
  poetry.lock
  pyproject.toml
Due: requirements-up-to-date

Fix frontend build
  package-lock.json
  package.json
  webpack.config.js
Due: none

Bump various dependencies
  Dockerfile
  frontend/src/scss/main.scss
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
  webpack.config.js
Due: requirements-up-to-date

Frontend tooling overhaul
  .github/workflows/docker.yaml
  Dockerfile
  bin/entrypoint.sh
  frontend/.babelrc.js
  frontend/gulpfile.js
  frontend/index.html
  frontend/public/favicon.png
  frontend/src/App.vue
  frontend/src/api/index.js
  frontend/src/components/AddFeedFromUpload.vue
  frontend/src/components/AddFeeds.vue
  frontend/src/components/ApplePodcastsToplist.vue
  frontend/src/components/Auth.vue
  frontend/src/components/Backdrop.vue
  frontend/src/components/EpisodeDetail.vue
  frontend/src/components/EpisodeDetailModal.vue
  frontend/src/components/EpisodeList.vue
  frontend/src/components/Home.vue
  frontend/src/components/InfiniteNoMore.vue
  frontend/src/components/Login.vue
  frontend/src/components/PodcastDetail.vue
  frontend/src/components/ResetPassword.vue
  frontend/src/components/WebPlayer.vue
  frontend/src/main.js
  frontend/src/mixins/index.js
  frontend/src/router/index.js
  frontend/src/scss/main.scss
  frontend/src/template.html
  package-lock.json
  package.json
  poetry.lock
  vite.config.js
  webpack.config.js
Due: requirements-up-to-date

Path conditions:
  python-no-print: any of: \.py$, but not: (?x)^(
  .+\.svg|
  .+/migrations/.+|
  .+/fixtures/.+|
  .+/cassettes/.+
)$

  requirements-up-to-date: any of: (requirements\.txt|poetry\.lock)$, but not: (?x)^(
  .+\.svg|
  .+/migrations/.+|
  .+/fixtures/.+|
  .+/cassettes/.+
)$

